body {
    overflow: unset;
}

h1{
    font-size: 4em;
}

#premier{
    width: 56%;
    font-size: 2.5em;
}

.canette_dimension{
    grid-template-columns: 100px 150px 100px;
}

#one {
    padding-top:10px ;
    width: 300%;
}

#two{
    padding-top: 100px;
    width: 300%;
}

#three{
    padding-top: 90px;
    width: 200%;
    padding-left: 28px;
}

#four{
    padding-top: 80px;
    width: 200%;
    padding-left: 95px;
}

#texte {
    font-size: 1.3em;

}

.colone1{
    transform: translateX(-100px);
}

.decalageG {
    padding-left: unset;
}

#deuxieme{
    font-size: 3em;
    padding-left: 130px;
}

#troisieme{
    font-size: 1.4em;
    width: 51%;
    margin-left: auto;
    text-align: justify
}


.bas_options {
    display: flex !important;
    justify-content: space-between;
    color: var(--dark_blue);
    margin: 100px 0 200px 0;
}

.bas_options>div>div>a {
    text-decoration: none;
    font-size: 1.75em;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Neue-Haas-bold';
    color: var(--dark_blue);
}

.bas_options>div {
    width: 50%;
}

.bas_options>div:nth-child(2) {
    display: flex;
    justify-content: space-between;

}


.bas_options>div:nth-child(1) {
    display: flex;
    justify-content: center;
} 


.bas_options>div:nth-child(2) {
    justify-content: space-between;
}



#bouton_acheter {
    font-size: 1.5em;
    height: 200px;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Neue-Haas-medium';
    line-height: 200px;
    border-radius: 100%;
    background-color: var(--dark_blue);
    color: var(--white);
}